<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="book">
				<header>
	    				<nav>
	    				<ul>
	        				<li><a href="/">Home</a></li>
		        			<li><a href="/about">About</a></li>
	        				<li><a href="/blog">Blog</a></li>
	    				</ul>
					</nav>
				</header>
				<hr>
				<div style="height:585px">
					<div class="left-sidebar">
					</div>
				       
					<div class="book-body">
			
					{{ content }}
			
					</div><!-- /.container -->
				
					
					<div class="right-sidebar">
						<div id="book-search-input" role="search">
							<input type="text" placeholder="Type to search">
						</div>
						<nav role="navigation">
						 <ul >
							<li>
							<a href="./">Mastering Apache Spark 2</a>
							</li>
							 <li >
							  <a href="./"> Introduction of Apache Spark</a>
							</li>
							<li>
							   <a href="./"> Overview of Apache Spark</a>
							 </li>
						  </ul >
						</nav>
					</div>
					
				</div>
			
			

			</div>
				</body>
					</html>
